@import './colors';

table {
    width: 100%;

    tr {
        width: 100%;

        td {
            margin-bottom: 20px;
            padding      : 40px 30px;

            &.date-block {
                text-align : right;
                white-space: nowrap;
                width      : 1%;
            }

            &.exp-block {
                padding-left : 0;
                padding-right: 0;

                mat-expansion-panel {
                    border-bottom-left-radius : 0;
                    border-bottom-right-radius: 0;
                    border-top-left-radius    : 0;
                    border-top-right-radius   : 0;

                    mat-expansion-panel-header {
                        padding : 0 30px;
                        position: relative;

                        &:before {
                            background      : $blue;
                            bottom          : 0;
                            content         : '';
                            left            : 0;
                            position        : absolute;
                            right           : 0;
                            top             : 0;
                            transform       : scaleX(0);
                            transform-origin: 0 50%;
                            transition      : transform .3s ease-out;
                            z-index         : -1;
                        }

                        ::ng-deep {
                            .mat-expansion-indicator {
                                display: none;
                            }
                        }
                    }

                    mat-panel-title {
                        &.mat-expansion-panel-header-title {
                            display  : block;
                            font-size: 16px;
                            // text-align: center;
                        }
                    }

                    ::ng-deep {
                        .mat-expansion-panel-body {
                            padding-left : 30px;
                            padding-right: 30px;

                            .desc-block {
                                li {
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }

                    &.mat-expanded {
                        background: none;

                        mat-expansion-panel-header {
                            &:before {
                                transform: scaleX(1);
                            }
                        }

                        ::ng-deep {
                            .mat-expansion-panel-content {
                                background : linear-gradient(to top left, $blackTransparent125, $blackTransparent25);
                                padding-top: 15px;
                            }
                        }
                    }
                }
            }

            &.dot-block {
                background: $grey;
                padding   : 0;
                position  : relative;
                width     : 10px;

                .dot {
                    background-color: $blue;
                    border-radius   : 90px;
                    height          : 30px;
                    left            : 50%;
                    position        : absolute;
                    top             : 50%;
                    transform       : translate(-50%, -50%);
                    width           : 30px;
                }
            }
        }
    }
}