<div class="cards-list">
    <mat-card *ngFor="let languageSkills of languageSkillsList | keyvalue">
        <mat-card-title>{{languageSkills.key | translate}}</mat-card-title>
        <mat-card-content>
            <mat-grid-list [cols]="nbCols" [rowHeight]="rowHeight">
                <ng-container *ngFor="let skill of languageSkills.value">
                    <mat-grid-tile>{{skill.label | translate}}</mat-grid-tile>
                    <mat-grid-tile [colspan]="colspan">
                        <ngb-progressbar [ngClass]="{'with-border': skill.value < 100}" [type]="skill.colorLabel" [value]="skill.value" [striped]="true" [animated]="true">{{skill.level | translate}}</ngb-progressbar>
                    </mat-grid-tile>
                    <mat-grid-tile *responsive="{bootstrap:['xs', 'sm', 'md']}"></mat-grid-tile>
                </ng-container>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>