<div class="cards-list">
    <mat-card *ngFor="let webDevSkills of webDevSkillsList | keyvalue">
        <mat-card-title>{{"SKILLS_." + webDevSkills.key | translate}}</mat-card-title>
        <mat-card-content>
            <mat-grid-list cols="4" rowHeight="40px">
                <ng-container *ngFor="let skill of webDevSkills.value">
                    <mat-grid-tile>{{skill.label}}</mat-grid-tile>
                    <mat-grid-tile colspan="3">
                        <ngb-progressbar [ngClass]="{'with-border': skill.value < 100}" [type]="skill.colorLabel" [value]="skill.value" [striped]="true" [animated]="true">{{skill.level | translate}}</ngb-progressbar>
                    </mat-grid-tile>
                </ng-container>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>