@import 'components/expansion';
@import 'src/app/styles/colors';

#projectsList {
    mat-expansion-panel {
        margin: 10px;
    }

    mat-panel-title {
        font-size: 20px;
    }

    mat-panel-description {
        font-size: 16px;
        line-height: 1.9;
    }

    mat-panel-description,
    mat-panel-title {
        flex-basis: 0;
        font-weight: 300;
    }

    .desc-block {
        margin: 30px 0;
    }

    .mobile-project-description {
        color: $whiteTransparent70;
        margin: 5px 0;
    }

    .project-accordion {
        mat-panel-title {
            font-size: 16px;
        }

        mat-panel-description {
            font-size: 14px;
            line-height: 1.5;
        }
    }

    .infos-block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div {
            margin-bottom: 15px;
            margin-right: 10%;

            label {
                display: block;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
}
