<mat-accordion id="projectsList">

    <mat-expansion-panel *ngFor="let projectComp of projectsList | keyvalue">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{"PROJECT_.COMPANY." + projectComp.key | translate}}
            </mat-panel-title>
            <ng-container *ngIf="projectComp.key === '3_PERSONNAL'; then persoDesc; else compDesc"></ng-container>
            <ng-template #compDesc>
                <mat-panel-description>
                    {{"PROJECT_.IN_COMPANY" | translate}} {{"PROJECT_.COMPANY." + projectComp.key | translate}}
                </mat-panel-description>
            </ng-template>
            <ng-template #persoDesc>
                <mat-panel-description>
                    {{"PROJECT_.PERSONNAL" | translate }}
                </mat-panel-description>
            </ng-template>

        </mat-expansion-panel-header>

        <mat-accordion class="project-accordion">
            <mat-expansion-panel *ngFor="let project of projectComp.value">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{"PROJECT" | translate }} {{project.name}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{project.shortDescription}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="infos-block">
                    <div>
                        <label>{{"YEAR" | translate}}</label>
                        {{project.year}}
                    </div>
                    <div>
                        <label>{{"DURATION" | translate}}</label>
                        {{project.duration | duration:['year','month', 'week']}}
                    </div>
                    <div *ngIf="project.url">
                        <label>{{"URL" | translate}}</label>
                        <a target="_blank" [href]="project.url"> {{project.url}}</a>
                    </div>

                </div>

                <div class="desc-block" [innerHtml]="project.description"></div>

                <div class="infos-block">
                    <div>
                        <label>{{"STACK" | translate}}</label>
                        {{project.stack.join(' - ')}}
                    </div>
                    <div *ngIf="project.team">
                        <label>{{"TEAM" | translate}}</label>
                        {{project.team.join(' - ')}}
                    </div>
                </div>

            </mat-expansion-panel>
        </mat-accordion>

    </mat-expansion-panel>

</mat-accordion>