.app-container {
    mat-sidenav-container {
        mat-sidenav {
            &#mainSideBar {
                width: 100%;
            }
        }
    }

    :host(app-competences) {
        ::ng-deep {
            .cards-list {
                mat-card {
                    float: none;
                    width: auto;
                }
            }
        }
    }
}