@import './styles/colors';

.app-container {
    display       : flex;
    flex-direction: column;
    height        : 100%;
}

mat-sidenav-container {
    &.mat-sidenav-container {
        height: 100%;
    }

    mat-sidenav {
        &#mainSideBar {
            width: 200px;
        }
    }
}

mat-toolbar {
    &.toolbar {
        background: $grey;

        &#footerToolbar {
            bottom  : 0;
            display : block;
            height  : 30px;
            position: sticky;
        }
    }
}