<div class="app-container">
    <mat-toolbar class="toolbar" id="headerToolbar">
        <app-header (toggleMenuOutput)="toggleMenu()"></app-header>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav id="mainSideBar" #mainSideBar mode="side" [opened]="sidebarOpen" role="navigation">
            <app-sidebar></app-sidebar>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
    <!-- <mat-toolbar color="primary" class="toolbar" id="footerToolbar">
        <app-footer></app-footer>
    </mat-toolbar> -->
</div>