.container {
    display       : flex;
    flex-direction: column;
    height        : 100%;
}

.mat-sidenav-container {
    height: 100%;
}

mat-toolbar {
    &.toolbar {
        &#footerToolbar {
            bottom  : 0;
            position: sticky;
        }
    }
}