<mat-tab-group dynamicHeight="true">
    <mat-tab [label]="'WEB DEVELOPMENT' | translate">
        <app-developments-competences></app-developments-competences>
    </mat-tab>
    <mat-tab [label]="'SYSTEM&SOFTWARE' | translate">
        <app-systems-competences></app-systems-competences>
    </mat-tab>
    <mat-tab [label]="'MANAGEMENT' | translate">
        <app-managements-competences></app-managements-competences>
    </mat-tab>
    <mat-tab [label]="'LANGUAGES' | translate">
        <app-languages-competences></app-languages-competences>
    </mat-tab>
</mat-tab-group>