@import 'app/styles/theme';
@import 'app/styles/colors';

body,
html {
    height: 100%;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin     : 0;
}

button {
    &:focus {
        border : 0;
        outline: 0;
    }
}

mat-card,
mat-expansion-panel {
    &.mat-card,
    &.mat-expansion-panel {
        background: linear-gradient(to top left, $blackTransparent125, $blackTransparent25);
    }
}

mat-expansion-panel {
    mat-expansion-panel-header {
        &.mat-expansion-panel-header {
            &.mat-expanded {
                &:focus {
                    background: none;
                }
            }
        }
    }
}